<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wu.ftpfile"
    android:installLocation="preferExternal"
    android:versionCode="2"
    android:versionName="1.1"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"

        >
        <activity android:name="com.wu.ftpfile.activity.FileInfoActivity"
                   android:screenOrientation="portrait">  <!--禁止横屏，文件信息主界面 -->
        </activity>
        <activity
            android:name="com.wu.ftpfile.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/about" > <!-- 关于界面-->
        </activity>
        <activity
            android:name="com.wu.ftpfile.activity.UserActivity"
            android:label="@string/about" > <!-- 用户信息管理界面-->
        </activity>
        <activity
            android:name="com.wu.ftpfile.activity.SetActivity"
            android:screenOrientation="portrait"
            android:label="@string/setting" > <!-- 设置界面-->
        </activity>
        <activity android:name="com.wu.ftpfile.activity.LoginActivity"
                   android:screenOrientation="portrait"> <!-- 用户登录界面-->
        </activity>
        <activity
            android:name="com.wu.ftpfile.activity.MainActivity"
            > <!--程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
